{% extends 'base.html.twig' %}

{% block body %}

    <h1>Artist Registration</h1>

    {{ form_start(artistRegistration) }}

        {{ form_row(artistRegistration.firstName) }}
        {{ form_row(artistRegistration.lastName) }}
        {{ form_row(artistRegistration.profileImage) }}
        {{ form_row(artistRegistration.email) }}

        {{ form_row(artistRegistration.nakedPassword.first, {
            'label': 'Password'
        }) }}
        {{ form_row(artistRegistration.nakedPassword.second, {
            'label': 'Confirm Password'
        }) }}

        {{ form_row(artistRegistration.businessName) }}
        {{ form_row(artistRegistration.bio) }}
        {{ form_row(artistRegistration.website) }}

        <button type="submit">Register!</button>
    {{ form_end(artistRegistration) }}

{% endblock %}