{% extends 'base.html.twig' %}

{% block body %}

<main class="login">

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ form_start(login_form) }}

        {{ form_errors(login_form) }}

        {{ form_row(login_form._email) }}
        {{ form_row(login_form._password) }}
        <button type="submit" formnovalidate>Login</button>
    {{ form_end(login_form) }}

</main>

{% endblock %}

