{% extends 'base.html.twig' %}

{% block body %}

    <h1>Venue Registration</h1>

    {{ form_start(venueRegistration) }}

    {{ form_errors(venueRegistration) }}

        {#basic market venue details#}
        {{ form_row(venueRegistration.firstName) }}
        {{ form_row(venueRegistration.lastName) }}
        {{ form_row(venueRegistration.profileImage) }}
        {{ form_row(venueRegistration.email) }}

        {{ form_row(venueRegistration.nakedPassword.first, {
            'label': 'Password'
        }) }}
        {{ form_row(venueRegistration.nakedPassword.second, {
            'label': 'Confirm Password'
        }) }}

        {#market info#}
        {{ form_row(venueRegistration.marketName) }}
        {{ form_row(venueRegistration.marketSubtitle) }}
        {{ form_row(venueRegistration.marketName) }}
        {{ form_row(venueRegistration.bio) }}
        {{ form_row(venueRegistration.website) }}
        {{ form_row(venueRegistration.city) }}
        {{ form_row(venueRegistration.state) }}
        {{ form_row(venueRegistration.zipCode) }}

        <button type="submit" formnovalidate>Register!</button>
    {{ form_end(venueRegistration) }}

{% endblock %}