{% extends 'base.html.twig' %}

{% block body %}

    <main class="venue-invite-artists">

        {{ form_start(artistSearch) }}
        {{ form_row(artistSearch.artist) }}

        <button type="submit">Search</button>
        {{ form_end(artistSearch) }}


        {% if artists %}

            <ul>
                {% for artist in artists %}
                    <li>

                        <p><a href="{{ path('send_to_invite_artist', { 'id': artist.id }) }}">{{ artist.firstName }} {{ artist.lastName }}</a> </p>

                        <p><a href="{{ path('') }}">Remove</a></p>
                    </li>
                {% endfor %}
            </ul>

        {% else %}

        {% endif %}


    </main>

{% endblock %}