{% extends 'base.html.twig' %}

{% block body %}

    <main class="venue-invite-artists">

        {{ form_start(artistSearch) }}
        {{ form_row(artistSearch.artist) }}

        <button type="submit">Search</button>
        {{ form_end(artistSearch) }}


        {% if artists %}

            {{ include(':secure/account/venue/partials:inviteArtistResult.html.twig') }}


        {% elseif query %}

            <p>No artists found for search: <span>{{ query }}</span></p>

        {% endif %}


    </main>

{% endblock %}