{% extends 'base.html.twig' %}

{% block body %}

    <main class="artist-profile">

        {#/ hero image /#}
        <div class="profile-image"
             style=" background: url( {{ asset('uploads/' ~ user.profileImage) }} ) no-repeat;
                     background-size: cover;
                     background-position: center;
                     ">

            {#/ use business name if user has one else use there name /#}
            {% if user.businessName %}
                <h1>{{ user.businessName }}</h1>
            {% else  %}
                <h1>{{ user.firstName ~ ' ' ~ user.lastName }}</h1>
            {% endif %}
        </div>


        {#/ bio /#}
        <h2>About {{ user.firstName ~ ' ' ~ user.lastName }}</h2>
        <p>{{ user.bio }}</p>

        <p><a target="_blank" href="{{ user.website }}" >Visit this artist's website</a></p>

        <p>Contact:</p>
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    </main>
{% endblock %}