{% extends 'base.html.twig' %}

{% block body %}

    <main class="artist-profile">

        {#/ hero image /#}
        <div class="profile-image"
             style=" background: url( {{ asset('uploads/' ~ user.profileImage) }} ) no-repeat;
                     background-size: cover;
                     background-position: center;
                     ">
        </div>

        {#/ use business name if user has one else use there name /#}
        {% if user.businessName %}
            <h1>{{ user.businessName }}</h1>
        {% else  %}
            <h1>{{ user.firstName ~ ' ' ~ user.lastName }}</h1>
        {% endif %}

        {#/ bio /#}
        <h2>About {{ user.firstName ~ ' ' ~ user.lastName }}</h2>
        <p class="bio">{{ user.bio }}</p>

        <h2>Contact Artist</h2>
        <ul>
            <li>
                <p><a target="_blank" href="{{ user.website }}" >Visit artist's website</a></p>
            </li>

            <li>
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            </li>
        </ul>
    </main>
{% endblock %}
