
<div class="artists-found">

    <p class="total-results">Total pending invitations: <span>{{ invitations | length }}</span></p>

    <ul class="results">

        {% for invitation in invitations %}
            {% set artist = invitation.artist %}
            <li>
                <a href="{{ path('artist_details', { 'artistId': artist.id }) }}">
                    <div class="artist-image"
                         style=" background: url( {{ asset('uploads/' ~ artist.profileImage) }} ) no-repeat;
                                 background-size: cover;
                                 background-position: center;
                                 "
                    >
                    </div>

                    <div class="artist-info">
                        {% if artist.businessName %}
                            <p>{{ artist.businessName }}</p>
                        {% endif %}

                        <p>{{ artist.firstName }} {{ artist.lastName }}</p>
                        <p>{{ artist.email }}</p>
                        <p>{{ artist.bio }}</p>
                    </div>
                </a>
                <p class="remove-invitation"><a href="{{ path('remove_invitation', { 'id': invitation.id }) }}">Remove Invitation</a></p>
            </li>
        {% endfor %}

    </ul>
</div>