{% extends 'base.html.twig' %}

{% block body %}

    <main class="artist-details-page">
        <div class="artist-image"
             style=" background: url( {{ asset('uploads/' ~ artist.profileImage) }} ) no-repeat;
                     background-size: cover;
                     background-position: center;
                     "
        ></div>


        {% if artist.businessName %}
            <h1>{{ artist.businessName }}</h1>
        {% else %}
            <h1>{{ artist.firstName }} {{ artist.lastName }}</h1>
        {% endif %}

        <h2>artist description</h2>
        <p>{{ artist.bio }}</p>



        <section class="artist-groups">



            {% if marketGroups %}
                <h2>This artist can also be found at these other markets</h2>
                <ul>
                    {% for market in marketGroups %}

                    <li>
                        <div class="market-group-member-image"
                             style=" background: url( {{ asset('uploads/' ~ market.profileImage) }} ) no-repeat;
                                     background-size: cover;
                                     background-position: center;
                                     "
                        >
                            <a href="{{ path('market_details', { marketId: market.id, marketName: market.marketName }) }}">
                                <span>{{ market.marketName }}</span>
                            </a>
                        </div>
                    </li>

                    {% endfor %}
                </ul>
            {% else %}
                <h2 class="artist-invite"><a href="{{ path('send_invite_to_artist', {  'id': artist.id }) }}">Invite this artist to your market group</a></h2>
            {% endif %}


        </section>

    </main>
{% endblock %}
