
{% extends 'base.html.twig' %}

{% block body %}

<main class="venue-details-page">
    <div class="market-image"
         style=" background: url( {{ asset('uploads/' ~ market.profileImage) }} ) no-repeat;
                 background-size: cover;
                 background-position: center;
                 "
    ></div>

    <h1>{{ market.marketName }}</h1>
    <p>{{ market.marketSubtitle }}</p>

    <h2>Market description</h2>
    <p>{{ market.bio }}</p>

    <div class="market-info">
        <table>
            <tr>
                <th>day</th>
                <th>open</th>
                <th>close</th>
            </tr>

            {% set day = 0 %}
            {% set open = 1 %}
            {% set close = 2 %}
            {% for hours in market.marketHours %}

                <tr>
                    {# check if market is closed for this day or not #}
                    {% if not hours[open] and not hours[close]  %}

                        <td><p>{{ hours[day] }}</p></td>
                        <td><p>Closed</p></td>
                        <td></td>

                    {% else %}
                        <td><p>{{ hours[day] }}</p></td>
                        <td><p>{{ hours[open] }}</p></td>
                        <td><p>{{ hours[close] }}</p></td>

                    {% endif %}
                </tr>

            {% endfor %}
        </table>


        <div>
            <div class="venue-map"></div>
            <address>
                <p>{{ market.marketName }}</p>
                <p>{{ market.streetAddress }}</p>
                <p>{{ market.city }} {{ market.state }} {{ market.zipCode }}</p>
                <p><a href="{{ market.website }}">{{ market.marketName }} website</a></p>
            </address>
        </div>
    </div>

</main>

{% endblock %}

