
{% extends 'base.html.twig' %}

{% block body %}

<main class="venue-details-page">
    <div class="market-image"
         style=" background: url( {{ asset('uploads/' ~ market.profileImage) }} ) no-repeat;
                 background-size: cover;
                 background-position: center;
                 "
    ></div>

    <h1>{{ market.marketName }}</h1>
    <p>{{ market.marketSubtitle }}</p>

    <h2>Market description</h2>
    <p>{{ market.bio }}</p>

    <div class="market-info">
        <table>
            <tr>
                <th>day</th>
                <th>open</th>
                <th>close</th>
            </tr>

            {% set name = 0 %}
            {% set open = 1 %}
            {% set close = 2 %}
            {% for day in market.marketHours %}

                <tr>
                    {# check if market is closed for this day or not #}
                    {% if not day[open] and not day[close]  %}

                        <td><p class="closed">{{ day[name] }}</p></td>
                        <td><p class="closed">Closed</p></td>
                        <td><p class="closed">Closed</p></td>

                    {% else %}
                        <td><p class="open">{{ day[name] }}</p></td>
                        <td><p>{{ day[open] }}</p></td>
                        <td><p>{{ day[close] }}</p></td>

                    {% endif %}
                </tr>

            {% endfor %}
        </table>


        <div>
            <div id="venue-map"></div>
            <address>
                <p>{{ market.marketName }}</p>
                <p id="geo-streetAddress">{{ market.streetAddress }}</p>
                <p><span id="geo-city">{{ market.city }}</span> <span id="geo-state">{{ market.state }}</span> <span id="geo-zip-code">{{ market.zipCode }}</span> </p>
                <p><a href="{{ market.website }}">{{ market.marketName }} website</a></p>
            </address>
        </div>
    </div>

</main>

{% endblock %}

