
{% extends 'base.html.twig' %}

{% block body %}

<main class="venue-details-page">
    <div class="market-image"
         style=" background: url( {{ asset('uploads/' ~ market.profileImage) }} ) no-repeat;
                 background-size: cover;
                 background-position: center;
                 "
    ></div>

    <h1>{{ market.marketName }}</h1>
    <p>{{ market.marketSubtitle }}</p>

    <h2>Market description</h2>
    <p>{{ market.bio }}</p>

    <div class="market-info">
        <table>
            <tr>
                <th>day</th>
                <th>open</th>
                <th>close</th>
            </tr>

            {% set name = 0 %}
            {% set open = 1 %}
            {% set close = 2 %}
            {% for day in market.marketHours %}

                <tr>
                    {# check if market is closed for this day or not #}
                    {% if not day[open] and not day[close] or day[open] == 'closed' and day[close] == 'closed'  %}

                        <td><p class="closed">{{ day[name] }}</p></td>
                        <td><p class="closed">Closed</p></td>
                        <td><p class="closed">Closed</p></td>

                    {% else %}
                        <td><p class="open">{{ day[name] }}</p></td>
                        <td><p>{{ day[open] }}</p></td>
                        <td><p>{{ day[close] }}</p></td>

                    {% endif %}
                </tr>

            {% endfor %}
        </table>


        <div>
            <div id="venue-map"></div>
            <address>
                <p>{{ market.marketName }}</p>
                <p id="geo-streetAddress">{{ market.streetAddress }}</p>
                <p><span id="geo-city">{{ market.city }}</span> <span id="geo-state">{{ market.state }}</span> <span id="geo-zip-code">{{ market.zipCode }}</span> </p>

                {% if market.website %}
                    <p><a href="{{ market.website }}">{{ market.marketName }} website</a></p>
                {% endif %}

            </address>
        </div>
    </div>

    <section class="market-artists">

        <h2>Artists featured at this market</h2>

        {% if artists %}

            <ul>
                {% for artist in artists %}

                <li>
                    <div class="artist-group-member-image"
                         style=" background: url( {{ asset('uploads/' ~ artist.profileImage) }} ) no-repeat;
                                 background-size: cover;
                                 background-position: center;
                                 "
                    >
                        <a href="{{ path('artist_details', { artistId: artist.id }) }}">

                            {% if artist.businessName %}
                                <span>{{ artist.businessName }}</span>
                            {% else %}
                                <span>{{ artist.firstName }} {{ artist.lastName }}</span>
                            {% endif %}
                        </a>
                    </div>
                </li>

                {% endfor %}
            </ul>

        {% else %}

            <p>No artists are currently registered with this market</p>

        {% endif %}

    </section>

</main>

{% endblock %}

